iot/sumulatorNodeRed.json
[
    {
        "id": "f8a7b6c5d4e3f2g1",
        "type": "tab",
        "label": "SIMULATEUR FOG ARCHITECTURE",
        "disabled": false,
        "info": "Version V4 : IDs entièrement nouveaux et noms de Dashboard nettoyés pour éviter les conflits et les erreurs de chargement."
    },
    {
        "id": "e0d9c8b7a6f5e4d3",
        "type": "inject",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "▶️ ENVOI MANUEL",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "c2b1a09876543210"
            ]
        ]
    },
    {
        "id": "c2b1a09876543210",
        "type": "function",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "Générer Payload ECG + Signes Vitaux ",
        "func": "// ==================================================================\n// LOGIQUE DE GÉNÉRATION DE DONNÉES AVANCÉE\n// Mise à jour de la fonction generate_ecg_signal pour un ECG plus réaliste.\n// ==================================================================\n\n// Génère un signal ECG de 187 points avec des horodatages\nfunction generate_ecg_signal(condition) {\n    const signal_length = 187;\n    const signal = [];\n    \n    // Fréquence d'échantillonnage: 100 points par seconde (10 ms par point)\n    const sample_rate_ms = 10; \n    const startTime = Date.now() - (signal_length * sample_rate_ms);\n    \n    // Paramètres pour l'échelle de l'ECG (pour le centrer autour de 0 ou une valeur de base)\n    const baseline = 0.0;\n    \n    for (let i = 0; i < signal_length; i++) {\n        let t = i / signal_length; // t varie de 0 à 1 sur le cycle\n        let value = baseline;\n        \n        if (condition === 'normal') {\n            \n            // --- Modèle ECG Normal (Superposition de pics Gaussien) ---\n            \n            // 1. Onde P (Petit pic positif au début, ex: à t=0.1)\n            value += 0.25 * Math.exp(-Math.pow((t - 0.1) / 0.03, 2)); \n\n            // 2. Complexe QRS (Les pics les plus nets et les plus hauts/bas)\n            // Onde Q (Petit pic négatif, ex: à t=0.2)\n            value -= 0.5 * Math.exp(-Math.pow((t - 0.2) / 0.015, 2)); \n            // Onde R (Grand pic positif, ex: à t=0.22)\n            value += 3.0 * Math.exp(-Math.pow((t - 0.22) / 0.02, 2)); \n            // Onde S (Petit pic négatif, ex: à t=0.25)\n            value -= 0.8 * Math.exp(-Math.pow((t - 0.25) / 0.02, 2)); \n\n            // 3. Onde T (Pic positif plus large et moins haut, ex: à t=0.45)\n            value += 0.5 * Math.exp(-Math.pow((t - 0.45) / 0.07, 2)); \n            \n        } else { // 'ventricular' ou critique (Rythme désorganisé / QRS élargi)\n            \n            // --- Modèle Arythmie (QRS large, Onde T et P fusionnées/absentes) ---\n            \n            // QRS élargi et désorganisé, sans P distinct\n            value += 0.5 * Math.sin(2 * Math.PI * 3 * t); // Une base sinusoïdale chaotique\n            \n            // Un pic ventriculaire large et haut (ex: à t=0.3)\n            value += 2.8 * Math.exp(-Math.pow((t - 0.3) / 0.09, 2)); \n            \n            // Un pic large inverse\n            value -= 1.5 * Math.exp(-Math.pow((t - 0.5) / 0.12, 2)); \n\n        }\n\n        // Ajout d'un petit bruit aléatoire (Efficace pour simuler des interférences)\n        value += (Math.random() - 0.5) * 0.1; \n        \n        // Créer un objet {x: timestamp, y: value}\n        signal.push({\n            \"x\": startTime + (i * sample_rate_ms), // Temps en millisecondes\n            \"y\": parseFloat(value.toFixed(4)) // Valeur Y\n        }); \n    }\n    return signal;\n}\n\n// Génère des signes vitaux cohérents (aucune modification ici)\nfunction get_vital_signs(condition) {\n    if (condition === 'normal') {\n        return {\n            'heart_rate': Math.floor(Math.random() * (100 - 60) + 60),\n            'temperature': (Math.random() * (37.2 - 36.0) + 36.0).toFixed(1),\n            'spo2': Math.floor(Math.random() * (100 - 95) + 95)\n        };\n    } else { // Condition critique (ventricular)\n        return {\n            'heart_rate': Math.floor(Math.random() * (180 - 140) + 140), \n            'temperature': (Math.random() * (38.5 - 37.0) + 37.0).toFixed(1), \n            'spo2': Math.floor(Math.random() * (95 - 85) + 85) \n        };\n    }\n}\n\n// --- LOGIQUE GLOBALE (Inchangée) ---\nconst patient_data = [\n    { id: \"P-001\", name: \"JEAN DUPONT\", age: 72, specialty: \"general\" },\n    { id: \"P-002\", name: \"MARIE MARTIN\", age: 45, specialty: \"critical_care\" },\n    { id: \"P-003\", name: \"PIERRE LEROY\", age: 10, specialty: \"pediatric\" },\n    { id: \"P-004\", name: \"Saleh ben saleh\", age: 60, specialty: \"general\" },\n    { id: \"P-005\", name: \"AHMED BEN ALI\", age: 30, specialty: \"critical_care\" }\n];\n\nconst patient = patient_data[Math.floor(Math.random() * patient_data.length)];\nconst condition = Math.random() < 0.7 ? 'normal' : 'ventricular';\n\nconst signal = generate_ecg_signal(condition); \nconst vital_signs = get_vital_signs(condition);\n\nconst alert_status = (condition === 'ventricular') ? \"CRITIQUE\" : \"Normal\";\nconst alert_color = (condition === 'ventricular') ? \"#FF0000\" : \"#008000\";\n\n// --- CONSTRUCTION DES SORTIES ---\nconst msg_temp = { topic: \"temp_final\", payload: vital_signs.temperature, unit: \"°C\" };\nconst msg_spo2 = { topic: \"spo2_final\", payload: vital_signs.spo2, unit: \"%\" };\nconst msg_hr = { topic: \"hr_final\", payload: vital_signs.heart_rate, unit: \"BPM\" };\n\nconst msg_alert = { \n    topic: \"alert_final\", \n    payload: alert_status,\n    color: alert_color\n};\n\n// Payload pour l'API (contient tous les détails)\nmsg.payload = {\n    \"device_id\": \"NODE-RED-DEV-001\",\n    \"patient_id\": patient.id,\n    \"patient_name\": patient.name,\n    \"patient_age\": patient.age,\n    \n    // Note: Pour l'API/DB, on peut choisir d'envoyer le tableau de valeurs brutes\n    // Si l'API attend un tableau de nombres, on doit extraire le 'y' de chaque point.\n    // Laissez-le tel quel si l'API est conçue pour accepter {x, y} ou ajustez si besoin.\n    \"signal\": signal.map(p => p.y), // Envoie juste les valeurs 'y' pour la base de données\n    \"timestamp\": new Date().toISOString(),\n    \"condition\": condition, \n    \"specialty\": patient.specialty, \n    \"heart_rate\": vital_signs.heart_rate, \n    \"temperature\": vital_signs.temperature, \n    \"spo2\": vital_signs.spo2\n};\n\n// Payload pour la visualisation (ui_chart)\nconst msg_ecg_viz = { \n    topic: \"ecg_viz_final\", \n    payload: [\n        {\n            \"series\": [patient.name + \" ECG\"],\n            \"data\": [\n                signal // Le tableau d'objets {x, y}\n            ],\n            \"labels\": [\"\"]\n        }\n    ]\n};\n\nreturn [msg, msg_temp, msg_spo2, msg_hr, msg_alert, msg_ecg_viz];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d9c8b7a6f5e4d3c2",
                "9043059c183ffd22"
            ],
            [
                "b1a0987654321098"
            ],
            [
                "76543210fedcba98"
            ],
            [
                "7f6e5d4c3b2a1908"
            ],
            [
                "765f4e3d2c1b0a9f"
            ],
            [
                "8e7d6c5b4a392817",
                "c5e810ba41a100a5"
            ]
        ]
    },
    {
        "id": "d9c8b7a6f5e4d3c2",
        "type": "http request",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "POST vers Load Balancer (5000)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": "false",
        "headers": [],
        "x": 880,
        "y": 80,
        "wires": [
            [
                "a5b4c3d2e1f09876"
            ]
        ]
    },
    {
        "id": "a5b4c3d2e1f09876",
        "type": "debug",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "Réponse du Load Balancer (JSON)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "b1a0987654321098",
        "type": "ui_chart",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "Température Chart",
        "group": "e3d2c1b0a9876543",
        "order": 1,
        "width": "6",
        "height": 4,
        "label": "🌡️ Température (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#d62728",
            "#2ca02c",
            "#98df8a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "76543210fedcba98",
        "type": "ui_chart",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "SpO2 Chart",
        "group": "e3d2c1b0a9876543",
        "order": 2,
        "width": "6",
        "height": 4,
        "label": "🩸 Saturation O₂ (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "85",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7f6e5d4c3b2a1908",
        "type": "ui_chart",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "Fréquence Cardiaque Chart",
        "group": "e3d2c1b0a9876543",
        "order": 3,
        "width": "12",
        "height": 4,
        "label": "❤️ Fréquence Cardiaque (BPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "200",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#ff7f0e",
            "#aec7e8",
            "#2ca02c",
            "#98df8a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "765f4e3d2c1b0a9f",
        "type": "ui_template",
        "z": "f8a7b6c5d4e3f2g1",
        "group": "e3d2c1b0a9876543",
        "name": "Statut Alerte Template",
        "order": 4,
        "width": "6",
        "height": "2",
        "format": "<div style=\"background-color:{{msg.color}}; color:white; padding:10px; text-align:center; font-size:1.4em; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);\">\n    STATUT ACTUEL : <b>{{msg.payload}}</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8e7d6c5b4a392817",
        "type": "ui_chart",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "ECG Waveform Chart",
        "group": "e3d2c1b0a9876543",
        "order": 5,
        "width": "12",
        "height": "6",
        "label": "📈 Forme d'onde ECG (Vue Conceptuelle de l'onde envoyée)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "En attente du signal...",
        "dot": false,
        "ymin": "-1.5",
        "ymax": "3.5",
        "removeOlder": "",
        "removeOlderPoints": "374",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#d62728",
            "#98df8a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9043059c183ffd22",
        "type": "debug",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "c5e810ba41a100a5",
        "type": "debug",
        "z": "f8a7b6c5d4e3f2g1",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "e3d2c1b0a9876543",
        "type": "ui_group",
        "name": "Visualisation Métriques Vitales Temps Réel",
        "tab": "c09a75f68b100cd5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c09a75f68b100cd5",
        "type": "ui_tab",
        "name": "Simulation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
